{% extends 'rater/base.html' %}

{% block content %}
    <div class="container">
        <h3> Rating API</h3><hr>
        <div class="row" >
            <div class="col-lg-2" >

            </div>
            <div class="col-lg-8" >
                <div class="card ">

                    <div class="hero-image" >
                        <div class="hero-text">
                            <h1>Rating API</h1>
                            <h4>API End Points</h4><hr>
                            <a class="btn btn-default " href="api/profiles/?format=json " target="_blank">Profiles endpoint</a><br><br>
                            <a  class="btn btn-default "  href="api/projects/?format=json" target="_blank">Projects endpoint</a><br><br>
                        </div>
                    </div>
                </div><br>

            </div> 
            <div class="col-lg-2" >

            </div>   
        </div>
    </div>
    <br><br>
{%endblock%}