{% load bootstrap4 %}
<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #413f42; color: white;padding-top: 100px;padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mt-md-0 mt-3">
                <!-- Footer Content -->
                <h5 class="font-weight-bold"><strong> Contacts</strong>:</h5>
                <h6 ><strong>Email</strong>: info@projectrating.com<h6>
                <h6><strong> Tel</strong>: 87252302-00100</h6>
                <h6>Nairobi,Kenya</h6>
                
                
                <!-- Copyright -->
                <div class="footer-copyright py-3">© 2022 Copyright:
                    <a href="#"> <span style="color: white;">Project Rating</span></a>
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </div>   
</footer>
<!-- Footer -->