{% extends 'rater/base.html' %}
{% load bootstrap4 %}
{% load static %} 

{% block title %} Project Rating {% endblock %}



{% block content %}
<style>
    body {
    margin: 0;
    padding: 0;
    color: #000000;
}
.hero {
    position: relative;
    width: 100vw;
    height: 50vh;     
    background-color: #A0AECD; 
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-content {
    padding-top: 120px;
    padding-left: 200px;


    /* position: relative;
    top: 30%;
    left: 15%; */
}

.hero-button:hover {
    color: #413f42; 
}

.card {
    font-size: 18px;
    min-height: 700px; 
    margin-bottom: 15px; 
}
.card img {
    min-height: 400px; 
}
.card-content {
    margin-left: 15px;
    margin-right: 15px;
}
.loc-date {
    display: flex;
    justify-content: space-between;
}
</style> 




<div class="hero">
    <div class="hero-content">
        <h3 class="hero-title" style="margin-bottom: 15px;">
            Get Your Projects Reviewed
        </h3>
        <h4 class="hero-subtitle" style="margin-bottom: 20px;"> 
            See how your projects rate based on design, usability, creativity, and content
        </h4>
        <!-- <a href="{% url 'new-project' %}" style="font-size:20px;"><button type="button" class="hero-button" style="border: none; border-radius: 15px; padding: 7px;">Submit Your Project</button></a> -->
        
    </div> 
</div>


<div class="container-fluid mt-5">  
    <div class="row mb-1"> 

        {% for project in projects %}
        <div class="col-md-4">
            
            <div class="card"> 
                <img src="{{project.project_image.url}}" class="card-img-top img-fluid" alt="{{project.project_name}}">
                <div class="card-content">
                    <h3 style="margin-top: 15px;">{{project.project_name}}</h3>
                    <p>{{project.description|slice:":50" }}...</p>
                    <div class="loc-date">
                        <p>From {{project.profile.location}}</p>
                        <p>{{project.pub_date}}</p> 
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="{{project.link}}" style="font-size: 15px; text-decoration: none;"><button style="border: none; border-radius: 15px; background-color: #A0AECD; color: #000000; padding: 7px;">View Project</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        
    </div>
</div>
{% endblock %} 

