{% extends 'rater/base.html' %}

{% block title %} Project Rating {% endblock %}


{% block content %}
<div class="mt-5">


    <div class="row">
        
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{project.project_image.url}}" alt="{{project.project_name}}" width="300px" height="300px">
                <div>
                    <h3>{{project.project_name}}</h3>
                    <small class="text-muted">{{project.description|slice:":200" }}...</small><br><br>
                    <small class="text-muted">{{project.pub_date}}</small>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}