{% extends 'rater/base.html' %}

{% block title %} Project Rating {% endblock %}


{% block content %}
<div class="container-fluid mt-3"> 
    <div class="row">

        {% for project in projects %}
        <div class="col-md-3">
            
            <div class="card"> 
                <img src="{{project.project_image.url}}" class="card-img-top img-fluid" alt="{{project.project_name}}">
                <div>
                    <h3 style="margin-top: 15px; margin-left: 10px;">{{project.project_name}}</h3>
                    <small class="text-muted">{{project.description|slice:":200" }}...</small><br><br>
                    <small class="text-muted">{{project.pub_date}}</small>
                </div>
            </div>
        </div>
        {% endfor %}

        
    </div>
</div>
{% endblock %} 

