{% extends 'rater/base.html' %}

{% block title %} New Project {% endblock %}



{% block content %}
<div class="container mt-5">
    <h3 class="d-flex justify-content-center mb-3">New Project</h3> 
    <div class="d-flex justify-content-center">
        <!-- <form method='post'  action="" enctype="multipart/form-data"> 
            {% csrf_token %}

            {{form.as_p}} 
            <input type="submit" class="btn btn-success" value="Submit">
        </form> -->



        <form method="POST" action="{% url 'new-project' %}" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="input-group mb-3">
                <label for="project-name">Project Name: </label>
                <!-- {{form.project_name.label}} -->
                <div style="margin-left: 45px;">
                    {{form.project_name}}
                </div> 
            </div>
            <div class="input-group mb-2">
                <label for="project-name">Project Image: </label>
                <!-- {{form.project_image.label}} -->
                <div style="margin-left: 45px;">
                    {{form.project_image}}
                </div>
            </div>
            <div class="input-group mb-2">
                <label for="project-name">Project Description: </label>
                <!-- {{form.description.label}} -->
                <div style="margin-left: 10px;">
                    {{form.description}} 
                </div>
            </div>
            <div class="input-group mb-2">
                <label for="project-name">Technologies Used: </label>
                <!-- {{form.technologies_used.label}} -->
                <div style="margin-left: 10px;">
                    {{form.technologies_used}} 
                </div>
                
            </div>
            <div class="input-group mb-2">
                <label for="project-name">Link: </label> 
                <!-- {{form.link.label}}  -->
                <div style="margin-left: 115px;"> 
                    {{form.link}}  
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3 submit_container">
                <input class="btn btn-success" type="submit" value="Submit"> 
            </div>
        </form>






    </div>
</div>
{% endblock %} 