{% extends 'rater/base.html' %} 
{% load bootstrap4 %}


{% block content %}
<div class="container mt-5" >
    <div class="row"style="padding-bottom: 50px;" >
        <div class="col-lg-6"> 
            <div style="text-align:center">
                <img src="{{request.user.profile.profile_picture.url}}"  alt="profile_pic" width="250px"  height="200px " style="border-radius: 50%;">
            </div><hr> 
            <div class="card-1">
                <div class="card-text " style="padding: 20px;">
                    <h4 ><strong> Username:</strong> {{request.user.profile.user}}</h4>
                    <h4 ><strong>Name:</strong> {{request.user.profile.fullname}}</h4>
                    <h4 ><strong>Location:</strong> {{request.user.profile.location}}</h4>
                    <h4 ><strong>Contact:</strong> {{request.user.profile.contact}}</h4><br>

                    <h4 class="text-center"><strong>Bio</strong></h4>
                    <p class="text-center">{{request.user.profile.bio}}</p><hr>
                </div>

            </div>

        </div>
    </div>

    <div >
        <h4 class="text-center" style="font-weight: bold;">My Projects</h4><hr>  

        {% for project in projects %}
        <div class="col-lg-4 col-lg-4 col-lg-4">
            <div class="card ">
                <img src="{{project.project_image.url}}"  class="card-img-top img-fluid" alt="{{project.project_name}}" >
                <div class="card-text text-center">
                    <h5 style="font-weight: bold; margin-top: 15px;">{{project.project_name}}</h5>
                    <small class="text-muted">{{project.description | slice:":100" }}...</small><br><br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{%endblock%}